using Microsoft.Extensions.DependencyInjection;

namespace {{ Name }}.Core.Application;

public static partial class ApplicationServiceRegistration
{
    extension(IServiceCollection services)
    {
        public IServiceCollection AddApplicationLayer()
        {
            services.AddNfwModules();
            return services;
        }
    }
}
