using Microsoft.Extensions.DependencyInjection;
using Mediator;

namespace {{ Name }}.Core.Application;

public static class ApplicationServiceRegistration
{
	public static IServiceCollection AddApplicationLayer(this IServiceCollection services)
	{
		services.AddMediator();
		return services;
	}
}
