// Mediator
services.AddMediator();
services.AddNFrameworkLogging();
services.AddNFrameworkPerformance();
services.AddNFrameworkAuthorization();
services.AddNFrameworkTransactions();
services.AddNFrameworkCaching();
services.AddNFrameworkValidationWithFluentValidation();
