// Mediator
services.AddMediator();
// TODO: Active when NFramework packages are released
//services.AddNFrameworkLogging();
//services.AddNFrameworkPerformance();
//services.AddNFrameworkAuthorization();
//services.AddNFrameworkTransactions();
//services.AddNFrameworkCaching();
//services.AddNFrameworkValidationWithFluentValidation();
