using Microsoft.EntityFrameworkCore;

namespace {{ Name }}.Infrastructure.Persistence.Shared.Database.Contexts;

public partial class BaseDbContext(DbContextOptions<BaseDbContext> options) : DbContext(options)
{
    // Add custom DbContext modifications here
}
